In [42]:
import pandas as pd
import numpy as np
import xgboost as xgb
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression

In [43]:
df=pd.read_csv('train.csv')
#Let's look at qualitative variables
df['person_home_ownership'].value_counts()

person_home_ownership
RENT        30594
MORTGAGE    24824
OWN          3138
OTHER          89
Name: count, dtype: int64

In [44]:
df['loan_grade'].value_counts()

loan_grade
A    20984
B    20400
C    11036
D     5034
E     1009
F      149
G       33
Name: count, dtype: int64

In [45]:
df['cb_person_default_on_file'].value_counts()

cb_person_default_on_file
N    49943
Y     8702
Name: count, dtype: int64

In [49]:
#The qualitative variables are pretty unbalanced :/

In [53]:
#Let's take care of qualitative variables
pd.get_dummies(df, columns=['loan_intent','person_home_ownership','loan_grade','cb_person_default_on_file'], dtype=int)

,id,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,loan_status,loan_intent_DEBTCONSOLIDATION,...,person_home_ownership_RENT,loan_grade_A,loan_grade_B,loan_grade_C,loan_grade_D,loan_grade_E,loan_grade_F,loan_grade_G,cb_person_default_on_file_N,cb_person_default_on_file_Y
0,0,37,35000,0.0,6000,11.49,0.17,14,0,0,...,1,0,1,0,0,0,0,0,1,0
1,1,22,56000,6.0,4000,13.35,0.07,2,0,0,...,0,0,0,1,0,0,0,0,1,0
2,2,29,28800,8.0,6000,8.90,0.21,10,0,0,...,0,1,0,0,0,0,0,0,1,0
3,3,30,70000,14.0,12000,11.11,0.17,5,0,0,...,1,0,1,0,0,0,0,0,1,0
4,4,22,60000,2.0,6000,6.92,0.10,3,0,0,...,1,1,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58640,58640,34,120000,5.0,25000,15.95,0.21,10,0,0,...,0,0,0,0,1,0,0,0,0,1
58641,58641,28,28800,0.0,10000,12.73,0.35,8,1,0,...,1,0,0,1,0,0,0,0,1,0
58642,58642,23,44000,7.0,6800,16.00,0.15,2,1,0,...,1,0,0,0,1,0,0,0,1,0
58643,58643,22,30000,2.0,5000,8.90,0.17,3,0,0,...,1,1,0,0,0,0,0,0,1,0
58644,58644,31,75000,2.0,15000,11.11,0.20,5,0,0,...,0,0,1,0,0,0,0,0,1,0

In [50]:
df.head()

,id,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length,loan_status
0,0,37,35000,RENT,0.0,EDUCATION,B,6000,11.49,0.17,N,14,0
1,1,22,56000,OWN,6.0,MEDICAL,C,4000,13.35,0.07,N,2,0
2,2,29,28800,OWN,8.0,PERSONAL,A,6000,8.90,0.21,N,10,0
3,3,30,70000,RENT,14.0,VENTURE,B,12000,11.11,0.17,N,5,0
4,4,22,60000,RENT,2.0,MEDICAL,A,6000,6.92,0.10,N,3,0

In [ ]:
#Let's normalize the quantitative features
normal_df=df
normal_df['person_age']=(normal_df['person_age']-normal_df['person_age'].mean())/normal_df['person_age'].std()
normal_df['person_income']=(normal_df['person_income']-normal_df['person_income'].mean())/normal_df['person_income'].std()
normal_df['person_emp_length']=(normal_df['person_emp_length']-normal_df['person_emp_length'].mean())/normal_df['person_emp_length'].std()
normal_df['loan_amnt']=(normal_df['loan_amnt']-normal_df['loan_amnt'].mean())/normal_df['loan_amnt'].std()
normal_df['loan_int_rate']=(normal_df['loan_int_rate']-normal_df['loan_int_rate'].mean())/normal_df['loan_int_rate'].std()
normal_df['loan_percent_income']=(normal_df['loan_percent_income']-normal_df['loan_percent_income'].mean())/normal_df['loan_percent_income'].std()
normal_df['cb_person_cred_hist_length']=(normal_df['cb_person_cred_hist_length']-normal_df['cb_person_cred_hist_length'].mean())/normal_df['cb_person_cred_hist_length'].std()